[Unit]
Description=Service for the automated twinbridge client.

[Install]
WantedBy=multi-user.target
Alias=twinbridge

[Service]
Type=simple
WorkingDirectory=/opt/tbClient-Auto/bin
ExecStart=/usr/bin/python3 main.py
RestartSec=10s
Restart=on-failure
KillMode=process